:root {
	--color-background: rgb(20, 21, 24);
	--color-card: rgb(30, 36, 44);
	--color-button: rgb(34, 41, 49);
	--color-text: rgb(105, 111, 121);
	--color-accent: rgb(252, 107, 20);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-background);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
